<?xml version="1.0" encoding="UTF-8"?>
<!--
  - vCardTools phpunit XML file
  - @author Eric Vought
  - @license MIT http://opensource.org/licenses/MIT
  - @see https://phpunit.de/manual/current/en/appendixes.configuration.html
  -->


<phpunit bootstrap="bootstrap.php" colors="true">
    <groups>
        <exclude><group>openIssues</group></exclude>
    </groups>
    <testsuites>
        <testsuite name="Default Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
